.Footer {
    /* keep footer content styling, but make the section container control the background
       so we can make the entire PageSection black for the contact area */
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
}

.Footer-absolute {
    position: absolute;
    bottom: 0;
}