.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  /* Enable scrolling within the Home container */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.Home::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.Home>* {
  flex: 1;
}

.About {
  background-color: white;
  min-height: 100vh;
  /* Full viewport height */
  padding: 20px;
  margin-top: 100vh;
  /* Move the About section 100vh down */
  position: relative;
  z-index: 1;
}

.About-header {
  text-align: center;
  margin-top: 50px;
}

.Footer {
  flex-shrink: 0;
}